.message button {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    border: none;
    border-radius: 5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    color: #fff;
    height: 3rem;
    width: 10rem;
    letter-spacing: 0.05em;
    cursor: pointer;
    background-color: blueviolet;
    align-self: center;
    margin: 25px;
  }