.creator-btn {
    margin: 2px;
    padding: 2px;
    border: none;
    color: white;
        background-color:#46c2a5;
}

.creator-inline-btn {
    border: 0px solid green;
    margin-right: 2px;
    border-radius: 5px;
    background-color:white;
}

.creator-inline-btn:hover {
    background-color:red;
}

.creator-btn:hover {
    border-radius: 5px;
    background-color:white;
    color:black;
}

.fckn-div {
    background-color:#46c2a5;
}

.fckn-div {
    margin: 4px;
    color: white;
    border: 1px solid white;
    float: left;
    /* border-radius: 5px; */
}

.fckn-div-category {
    margin: 4px;
    color: white;
    border: 1px solid white;
    float: left;
    /* border-radius: 5px; */
    box-shadow: 6px 4px #223360;

}

.creator-div-category {
    /* border-radius: 5px; */
    box-shadow: 3px 2px #227360;
    background-color:#46c2a5;


}

.pagination-creator {
    margin: 12px;
}