.dashboard-main {
  padding: 10px;
}

.class-btn {
  margin-left: 6px;
  margin-bottom: 6px;
  float: right;
  flex-direction: row-reverse;
}

.my-stack {
  float: left;
  /* display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch; */
}

.my-stack-reverse {
  float: right;

  /* display: flex;
  flex-direction: row-reverse;
  align-items: center;
  align-self: stretch; */
}

.aaa {

  display: block;
}