@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    margin: 0;
    padding: 0;

}

.App {
    padding-top: 40px;
}

main {
    height: calc(100dvh - 40px);
}

.visualisation-tools {
    background-color: #f8f9fa;

}

.sidenav {
    padding: 0 !important;
}

/* CREATOR */

.creator-top {
    height: calc(65% - 81.40px);
    width: 100%;
    overflow: auto;
    border-bottom-style: outset;
}

.creator-bottom {
    height: 35%;
    overflow: hidden;
}

.creator-hidden {
    height: 0%;
    overflow: hidden;
}

.canvas-full {
    height: 100%;
    overflow: hidden;
}

#visualisation-btn-toggle {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}

#visualisation-btn-save {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}

.visualisation-active-container {
    margin-left: 1px;
    padding: 2px;
}

.visualisation-searchbar-container {
    padding: 4px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.node rect {
    stroke: black;
    stroke-width: 1px;
}

.node text {
    font-size: 20px;
    color: black;
}

svg.drag-over {
    border: 3px dashed red;
}

.row>* {
    padding-left: 0;
    padding-right: 0;
}

.my-btn {
    color: aquamarine;
}

/* END APP */

.node rect {
    stroke: black;
    stroke-width: 1px;
}

.node text {
    font-size: 20px;
    color: black;
}

svg.drag-over {
    border: 3px dashed red;
}

.row>* {
    padding-left: 0;
    padding-right: 0;
}

.my-btn {
    color: aquamarine;
}


.menuItem {
    fill: rgb(121, 0, 121);
    stroke-width: 3;
    stroke: rgb(0, 0, 0)
}

#svg-canvas {
    background-color: white;
    
    padding-left: 0;
    padding-right: 0;
}

text {
    font-family: 'Neucha', cursive;
    font-size: 12px;
}

#float-btn-save {
    position: absolute;
    top: 10px;
    right: 70px;
}

#float-btn-add {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1000;

}

/* CLASS */


.class-card {
    padding: 8px;
    margin: 10px;
}

.class-message {
    cursor: pointer;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


.accordion-class {
    overflow: auto;
    max-height: 45dvh;
}


/* Creator */

.recommend-btn {
    background-color: #17a66d !important;
    border: none !important;
}

.recommend-btn:hover {
    background-color: #81a76d !important;
}

.recommends-div {
    float: left;
    border-radius: 5px;
    margin: 2px;
    background-color: #17a66d;
}

.recommends-inline-div {}

.recommends-div-category {
    float: left;
    border-radius: 5px;
    margin: 2px;
    background-color: #17a66d;
    box-shadow: rgba(0, 0, 0, 0.8) 4px 4px 0px 0px;
}

.recommends-inline-div-category {
    border-radius: 5px;
    box-shadow: rgba(8, 82, 44, 0.8) 2px 2px 0px 0px;

}

.fckn-div-category {
    margin: 4px;
    color: white;
    border: 1px solid white;
    float: left;
    /* border-radius: 5px; */
    box-shadow: 6px 4px #223360;

}

.creator-div-category {
    /* border-radius: 5px; */
    box-shadow: 3px 2px #227360;
    background-color: #46c2a5;


}

.pagination-creator {
    margin: 12px;
}

/* TREEVIEW */

.collapsible-list {
    border: 1px solid black;
}

/* DASHBOARD/ */
.dashboard-main {
    padding: 10px;
}

.class-btn {
    margin-left: 6px;
    margin-bottom: 6px;
    float: right;
    flex-direction: row-reverse;
}

.my-stack {
    float: left;
    /* display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch; */
}

.my-stack-reverse {
    float: right;

    /* display: flex;
    flex-direction: row-reverse;
    align-items: center;
    align-self: stretch; */
}

.aaa {

    display: block;
}

/* LOGIN */

.center-container {
    display: flex;
    top: 20px;
    width: 60%;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}

#login {
    background-image: url('../../public/learn.jpg');
    height: 100dvh;
    background-size: cover;
}

/* MESSAGE */

/* .message-box {
    overflow: auto;
    height: 74dvh;
} */

.message-bubble {
    margin-bottom: 10px;
    width: fit-content;
}

.message-card {
    margin-top: 10px;
}

/* PRFOILE VIEW */

.center-container {
    display: flex;
    width: 60%;
    justify-content: center;
    margin: 0 auto;
}

.logo {
    max-height: 40px;

}

/* LOADING WAve  */

.loader-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background: #f1f1f1;
}

.loader {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
    animation: animate 1.2s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
}

.loader span:nth-child(1) {
    filter: blur(5px);
}

.loader span:nth-child(2) {
    filter: blur(10px);
}

.loader span:nth-child(3) {
    filter: blur(25px);
}

.loader span:nth-child(4) {
    filter: blur(50px);
}

.loader:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #f1f1f1;
    border: solid white 10px;
    border-radius: 50%;
}